html, body {
	height: 100%;
	margin: 0;
}

header {
	/* Color of the entire header */
	background-color: bisque;
	
	/* Makes the header stretch all the way to the edges of the screen */
	margin-top: -24px;
	margin-left: -8px;
	margin-right: -8px;
	height: 10%;
	
	/* All child content will be centered */
	text-align: center;
}

main {
	/* Creates Dark Green Border Around Main Middle Content */
	border: 5px solid #076b27;
	background-color: #ebe9e4;
	
	/* Restricts width of the image */
    max-width: 1000px;
	
	height: 85%;
	width: 85%;
	
	/* Centers Content Block, and offsets it from the header */
	display: block;
	margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
	
	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: space-around;
}

.bg {
	/* The image used */
	background-image: url('../Images/img1.jpg'); 
	
	width: 95%;
	height: 80%;

  	/* Center and scale the image nicely */
	border:3px solid white;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.interface {
	height: 10%;
	align-self: flex-end;
}

h1 {
    color: #6e6e6e;
    font-size: 36px;
	padding: 10px;
}

p {
    color: #0b3880;
	padding: 10px;
	margin: auto;
	text-align: center;
}
